body   {font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        background-color: lightgrey;
        color: black;
}

.h1style   {color: rgb(0, 0, 0);
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-color: black;
            font-weight: bold;
            }

.h2style    {color: rgb(0, 0, 0);
            font-weight: bold;
            }

.h3style    {color: rgb(0, 0, 0);
            font-style: italic;}

.bandqnaas {color:  rgb(0, 0, 0);
            font-weight: bold;
            text-decoration-line: underline;
            text-decoration-color: black;

}

.toyotaforklifts {color:  rgb(0, 0, 0);
                 font-weight: bold;
                 text-decoration-line: underline;
                 text-decoration-color: black;
                 
}

.kilasheehotel {color:  rgb(0, 0, 0);
                font-weight: bold;
                text-decoration-line: underline;
                text-decoration-color: black;
}

.naasGAA        {color:  rgb(0, 0, 0);
                font-weight: bold;
                text-decoration-line: underline;
                text-decoration-color: black;
}

.smallheadingsample {color:  rgb(0, 0, 0);
                    font-style: italic;
                    text-decoration-line: underline;
                    text-decoration-color: black;

}

#center             {text-align: center;

}

@media(min-width:760px){

.container-1 {display: flex;
              padding: 10px;
              flex-direction: stretch;
              align-items: center;
}

.container-heading {display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    
}

.container-sidebar {display: flex;
                    flex: 1;
                    order: 1;
                    flex-direction: column;
                    justify-content: space-between;}

.container-mainbody {display: flex;
                    flex: 3;
                    order: 2;
                    flex-direction: column;
                    justify-content: space-between;}
                    
.container-2 {display: flex;
             padding: 10px;
             justify-content: space-between;
             flex-direction: column;
}
}